<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Transactions</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
      @for(navbarLink of links; track navbarLink.name) {
        <li class="nav-item mr-2" role="presentation">
            <button [class]="navbarLink.selected ? 'nav-link active btn-sm' : 'nav-link btn-sm'" [id]="navbarLink.id" data-bs-toggle="pill" [attr.data-bs-target]="navbarLink.target" type="button" role="tab" [attr.aria-controls]="navbarLink.controls" [attr.aria-selected]="navbarLink.selected" [disabled]="navbarLink.disabled">{{navbarLink.name}}</button>
        </li>
      }
    </ul>
  </div>
</div>

<div *ngIf="daemonRunning && !daemonStopping" class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-tx-pool" role="tabpanel" aria-labelledby="pills-tx-pool-tab" tabindex="0">
    <h4 class="mb-3">Information about valid transactions seen by the node but not yet mined into a block, as well as spent key image information for the txpool in the node's memory</h4>
    <br>

    <div class="card p-1">
      <div class="card-header bg-primary text-white d-flex">
        <h4>Statistics</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h6>Bytes</h6>
            <ul class="list-group">
              <li class="list-group-item"><strong>Bytes Max:</strong> {{ txPoolStats.bytesMax }}</li>
              <li class="list-group-item"><strong>Bytes Med:</strong> {{ txPoolStats.bytesMed }}</li>
              <li class="list-group-item"><strong>Bytes Min:</strong> {{ txPoolStats.bytesMin }}</li>
              <li class="list-group-item"><strong>Bytes Total:</strong> {{ txPoolStats.bytesTotal }}</li>
            </ul>
          </div>
          <div class="col-md-6">
            <h6>Histo</h6>
            <ul class="list-group">
              <li class="list-group-item"><strong>Histo Txs:</strong> {{ txPoolStats.histo.txs }}</li>
              <li class="list-group-item"><strong>Histo Bytes:</strong> {{ txPoolStats.histo.bytes }}</li>
              <li class="list-group-item"><strong>Histo 98% (the time 98% of txes are "younger" than):</strong> {{ txPoolStats.histo98pc }}</li>
            </ul>
          </div>
        </div>
        
        <div class="row mt-4">
          <div class="col-md-12">
            <h6>Info</h6>
            <ul class="list-group">
              <li class="list-group-item"><strong>Transactions in pool for more than 10 minutes:</strong> {{ txPoolStats.num10m }}</li>
              <li class="list-group-item"><strong>Double spend transactions:</strong> {{ txPoolStats.numDoubleSpends }}</li>
              <li class="list-group-item"><strong>Failing transactions:</strong> {{ txPoolStats.numFailing }}</li>
              <li class="list-group-item"><strong>Non-relayed transactions:</strong> {{ txPoolStats.numNotRelayed }}</li>
              <li class="list-group-item"><strong>Oldest transaction in the pool:</strong> {{ txPoolStats.oldest }}</li>
              <li class="list-group-item"><strong>Fee total:</strong> {{ txPoolStats.feeTotalXMR }} XMR</li>
              <li class="list-group-item"><strong>Total number of transactions:</strong> {{ txPoolStats.txsTotal }}</li>             
            </ul>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <h6>Transactions in Pool</h6>
            <li class="list-group-item">
            <div class="m-3">
              <table
                id="transactionsTable"
                data-toggle="transactionsTable"
                data-toolbar="#toolbar"
                data-search="true"
                data-pagination="true"
                data-show-columns="true"
                data-show-columns-search="true"
                >
                <thead>
                  <tr>
                    <th data-field="idHash">ID Hash</th>
                    <th data-field="relayed">Relayed</th>
                    <th data-field="blobSize">Blob Size</th>
                    <th data-field="doNotRelay" data-visible="false">Do Not Relay</th>
                    <th data-field="doubleSpendSeen">Double Spend Seen</th>
                    <th data-field="fee">Fee</th>
                    <th data-field="keptByBlock" data-visible="false">Kept By Block</th>
                    <th data-field="lastFailedHeight" data-visible="false">Last Failed Height</th>
                    <th data-field="lastFailedIdHash" data-visible="false">Last Failed Id Hash</th>
                    <th data-field="lastRelayedTime">Last Relayed Time</th>
                    <th data-field="maxUsedBlockHeight" data-visible="false">Max Used Block Height</th>
                    <th data-field="maxUsedBlockIdHash" data-visible="false">Max Used Block Id Hash</th>
                    <th data-field="receiveTime">Receive Time</th>
                    <th data-field="txBlob" data-visible="false">Tx Blob</th>
                  </tr>
                </thead>
              </table>
            </div>
            </li>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <h6>Spent Key Images in Pool</h6>
            <li class="list-group-item">
            <div class="m-3">
              <table
                id="spentKeyImagesTable"
                data-toggle="spentKeyImagesTable"
                data-toolbar="#toolbar"
                data-search="true"
                data-pagination="true"
                data-show-columns="true"
                data-show-columns-search="true"
                >
                <thead>
                  <tr>
                    <th data-field="idHash">ID Hash</th>
                  </tr>
                </thead>
              </table>
            </div>
            </li>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="pills-relay-tx" role="tabpanel" aria-labelledby="pills-relay-tx-tab" tabindex="0">
  
    <div class="row g-5 p-2">
        <div class="col-md-12 col-lg-12">
          <div *ngIf="relaySuccess" class="alert alert-success d-flex align-items-center justify-content-center text-center" role="alert">
            <h4><i class="bi bi-send-check m-2"></i></h4>&nbsp;&nbsp;
            <div>
              Txs relayed successfully
            </div>
          </div>
          
          <div *ngIf="relayError" class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
            <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
            <div>
              {{relayError}}
            </div>
          </div>

          <h4 class="mb-3">Relay a list of transaction IDs</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
        
              <div class="col-12">
                  <label for="tx_ids" class="form-label">Tx Ids</label>
                  <textarea [(ngModel)]="txIdsJsonString" [ngModelOptions]="{standalone: true}" type="text" [class]="!modifiedTxIds ? 'form-control' : validTxIds() ? 'form-control' : 'form-control is-invalid'" id="tx_ids" placeholder="[
  'tx_hash_1',
  'tx_hash_2',
  ... ,
  'tx_hash_n'
]" 
                  rows="10" cols="15" ></textarea>
                  <div class="invalid-feedback">
                    Invalid transaction IDs.
                  </div>
                  <small class="text-body-secondary">List of transaction IDs to relay</small>
              </div>
      
            <hr class="my-4">
            </div>

          </form>
        </div>
    </div>
    <button class="w-100 btn btn-primary btn-lg" type="button" [disabled]="!canRelay" [disabled]="!validTxIds()" (click)="onRelay()">Relay Tx</button>
  
  </div>
  
  <div class="tab-pane fade" id="pills-send-raw-tx" role="tabpanel" aria-labelledby="pills-send-raw-tx-tab" tabindex="0">
    <div class="row g-5 p-2">
        <div class="col-md-12 col-lg-12">
          <div *ngIf="sendRawTxSuccess" class="alert alert-success d-flex align-items-center justify-content-center text-center" role="alert">
            <h4><i class="bi bi-send-check m-2"></i></h4>&nbsp;&nbsp;
            <div>
              Txs sent successfully
            </div>
          </div>
          
          <div *ngIf="sendRawTxError" class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
            <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
            <div>
              {{sendRawTxError}}
            </div>
          </div>

          <h4 class="mb-3">Broadcast a raw transaction to the network</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
        
              <div class="col-12">
                  <label for="send-raw-tx-tx-as-hex" class="form-label">Tx as hex</label>
                  <textarea [(ngModel)]="rawTxJsonString" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="send-raw-tx-tx-as-hex" placeholder="de6a3..." 
                  rows="10" cols="15" ></textarea>
                  <div class="invalid-feedback">
                    Invalid transaction hex.
                  </div>
                  <small class="text-body-secondary">Full transaction information as hexadecimal string</small>
              </div>

              <div class="form-check form-switch col-md-6">
                <label for="send-raw-tx-do-not-relay" class="form-check-label">Do not relay</label>
                <input class="form-control form-check-input" type="checkbox" role="switch" id="send-raw-tx-do-not-relay" [checked]="sendRawTxDoNotRelay">
                <br>
                <small class="text-body-secondary">Stop relaying transaction to other nodes</small>
              </div>
            </div>

          </form>
        </div>
    </div>
    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" type="button" (click)="sendRawTx()">Send Raw Tx</button>
  </div>

  <div class="tab-pane fade" id="pills-get-fee-estimate" role="tabpanel" aria-labelledby="pills-get-fee-estimate-tab" tabindex="0">
    <h4 class="mb-3">Get an estimation on fees per byte</h4>
        
    <div *ngIf="getFeeEstimateError !== ''" class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
      <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
      <div>
        {{getFeeEstimateError}}
      </div>
    </div>

    <div *ngIf="getFeeEstimateSuccess" class="row d-flex justify-content-center">
      @for(card of feeEstimateCards; track card.header) {
        <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;">
          <div class="card-header">{{card.header}}</div>
          <div class="card-body">
            <h5 class="card-title">{{card.content}}</h5>
          </div>
        </div>
      }
    </div>

    <hr *ngIf="getFeeEstimateSuccess" class="my-4">

    <div class="row g-5 p-2">
      <div class="col-md-12 col-lg-12">
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
      
            <div class="col-md-4">
              <label for="grace-blocks" class="form-label">Grace Blocks</label>
              <input type="number" min="0" class="form-control" id="grace-blocks" placeholder="" [(ngModel)]="graceBlocks" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr class="my-4">
    <button class="w-100 btn btn-primary btn-lg" type="button" (click)="getFeeEstimate()">Get Fee Estimate</button>

  </div>

  <div class="tab-pane fade" id="pills-tx-pool-backlog" role="tabpanel" aria-labelledby="pills-tx-pool-backlog-tab" tabindex="0">
    <h4 class="mb-3">All transactions pool backlog</h4>
    <br>
    
    <table
      id="txPoolBacklogTable"
      data-toggle="txPoolBacklogTable"
      data-toolbar="#toolbar"
      data-pagination="true"
      data-search="true"
      data-show-columns="true"
      data-show-columns-search="true"
      >
      <thead>
      <tr>
          <th data-field="height">Blob Size</th>
          <th data-field="key">Fee</th>
          <th data-field="mask">Time In Pool</th>
      </tr>
      </thead>
    </table>
  </div>

  <div class="tab-pane fade" id="pills-coinbase-tx-sum" role="tabpanel" aria-labelledby="pills-coinbase-tx-sum-tab" tabindex="0">
    <div class="row g-5 p-2">
        <div class="col-md-12 col-lg-12">
          
          <div *ngIf="getCoinbaseTxSumError !== ''" class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
            <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
            <div>
              {{getCoinbaseTxSumError}}
            </div>
          </div>

          <div class="row d-flex justify-content-center">
            @for(card of cards; track card.header) {
              <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;">
                <div class="card-header">{{card.header}}</div>
                <div class="card-body">
                  <h5 class="card-title">{{card.content}}</h5>
                </div>
              </div>
            }
          </div>

          <h4 class="mb-3">Get coinbase tx sum</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
        
              <div class="col-md-6">
                <label for="height" class="form-label">Height</label>
                <input type="number" min="0" class="form-control" id="height" placeholder="" [(ngModel)]="coinbaseTxSumHeight" [ngModelOptions]="{standalone: true}">
                <small class="text-body-secondary">Block height from which getting the amounts</small>
              </div>

              <div class="col-md-6">
                <label for="count" class="form-label">Count</label>
                <input type="number" min="0" class="form-control" id="count" placeholder="" [(ngModel)]="coinbaseTxSumCount" [ngModelOptions]="{standalone: true}">
                <small class="text-body-secondary">Number of blocks to include in the sum</small>
              </div>
      
            <hr class="my-4">
            </div>

          </form>
        </div>
    </div>
    <button class="w-100 btn btn-primary btn-lg" type="button" (click)="onGetCoinbaseTxSum()">Get Coinbase Tx Sum</button>
  </div>

  <div class="tab-pane fade" id="pills-flush-tx-pool" role="tabpanel" aria-labelledby="pills-flush-tx-pool-tab" tabindex="0">
    <div *ngIf="flushSuccess" class="alert alert-success d-flex align-items-center justify-content-center text-center" role="alert">
      <h4><i class="bi bi-check-circle m-2"></i></h4>&nbsp;&nbsp;
      <div>
        Successfully flushed txs
      </div>
    </div>
    
    <div *ngIf="flushError !== ''" class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
      <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
      <div>
        {{flushError}}
      </div>
    </div>

    <div class="row g-5 p-2">
        <div class="col-md-12 col-lg-12">
          <h4 class="mb-3">Flush a list of transaction IDs</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
        
              <div class="col-12">
                  <label for="flush-tx-ids" class="form-label">Tx Ids</label>
                  <textarea type="text" class="form-control" id="flush-tx-ids" placeholder="[
  'tx_hash_1',
  'tx_hash_2',
  ... ,
  'tx_hash_n'
]" 
                    rows="10" cols="15" [(ngModel)]="flushTxIdsJsonString" [ngModelOptions]="{ standalone: true }"></textarea>
                  <small class="text-body-secondary">List of transaction IDs to flush in tx pool</small>
              </div>
      
            <hr class="my-4">
            </div>

          </form>
        </div>
    </div>

    <button *ngIf="!flushing" class="w-100 btn btn-primary btn-lg" type="button" (click)="flush()">Flush Tx Pool</button>
  </div>

  <div class="tab-pane fade" id="pills-flush-cache" role="tabpanel" aria-labelledby="pills-flush-cache-tab" tabindex="0">
    <div *ngIf="flushCacheSuccess" class="alert alert-success d-flex align-items-center justify-content-center text-center" role="alert">
      <h4><i class="bi bi-check-circle m-2"></i></h4>&nbsp;&nbsp;
      <div>
        Successfully flushed cache
      </div>
    </div>
    
    <div *ngIf="flushCacheError !== ''" class="alert alert-danger d-flex align-items-center justify-content-center text-center" role="alert">
      <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
      <div>
        {{flushCacheError}}
      </div>
    </div>
    
    <div class="row g-5 p-2">
        <div class="col-md-12 col-lg-12">
          <h4 class="mb-3">Flush bad transactions / blocks from the cache</h4>
          <form class="needs-validation" novalidate="">
            <div class="row gy-3">


            <div class="form-check form-switch col-md-6">
              <label for="flush-cache-bad-txs" class="form-check-label">Bad txs</label>
              <input class="form-control form-check-input" type="checkbox" role="switch" id="flush-cache-bad-txs" [checked]="flushCacheBadTxs" [(ngModel)]="flushCacheBadTxs" [ngModelOptions]="{standalone: true}">
              <br>
              <small class="text-body-secondary">Flush bad transactions</small>
            </div>

        
            <div class="form-check form-switch col-md-6">
              <label for="flush-cache-bad-blocks" class="form-check-label">Bad blocks</label>
              <input class="form-control form-check-input" type="checkbox" role="switch" id="flush-cache-bad-blocks" [checked]="flushCacheBadBlocks" [(ngModel)]="flushCacheBadBlocks" [ngModelOptions]="{standalone: true}">
              <br>
              <small class="text-body-secondary">Flush bad blocks</small>
            </div>

            <hr class="my-4">
            </div>

          </form>
        </div>
    </div>
    <button *ngIf="!flushingCache" class="w-100 btn btn-primary btn-lg" type="button" (click)="flushCache()">Flush Cache</button>
  </div>


</div>


<app-daemon-not-running></app-daemon-not-running>
