<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
      @for(navbarLink of navbarLinks; track navbarLink.name) {
        <li class="nav-item mr-2" role="presentation">
            <button [class]="navbarLink.selected ? 'nav-link active btn-sm' : 'nav-link btn-sm'" [id]="navbarLink.id" data-bs-toggle="pill" [attr.data-bs-target]="navbarLink.target" type="button" role="tab" [attr.aria-controls]="navbarLink.controls" [attr.aria-selected]="navbarLink.selected" [disabled]="navbarLink.disabled">{{navbarLink.name}}</button>
        </li>
      }
    </ul>
  </div>
</div>
<app-daemon-not-running></app-daemon-not-running>

<div *ngIf="daemonRunning" class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="row d-flex justify-content-center">

      <div *ngIf="daemonRunning" class="card text-bg-dark m-3 text-center" style="max-width: 18rem;">
        <div class="card-header"><strong>Daemon running</strong></div>
        <div class="card-body">
          <h5 class="card-title">
            <button *ngIf="!stoppingDaemon" type="button" class="btn btn-danger btn-lg" (click)="stopDaemon()"><i class="bi bi-stop-circle"></i>&nbsp;Stop</button>
            <button *ngIf="stoppingDaemon" class="btn btn-danger-light" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Stopping daemon
            </button>
          </h5>
        </div>
      </div>

      @for(card of cards; track card.header) {
        @if(card.loading && !stoppingDaemon) {
          <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;" aria-hidden="true">
            <div class="card-header"><strong>{{card.header}}</strong></div>
            <div class="card-body">

              <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
            </div>
          </div>
        }
        @else if (!stoppingDaemon) {
          <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;">
            <div class="card-header"><strong>{{card.header}}</strong></div>
            <div class="card-body">
              <h5 class="card-title">{{card.content}}</h5>
            </div>
          </div>
        }

      }

      

    </div>
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    <div class="m-3">
      <table
      id="table"
      data-toggle="table"
      data-toolbar="#toolbar"
      data-height="460"
      >
      <thead>
        <tr>
          <th data-field="address">Remote Host</th>
          <th data-field="peerId">Peer ID</th>
          <th data-field="height">Height</th>
          <th data-field="pruningSeed">Prune Seed</th>
          <th data-field="state">State</th>
          <th data-field="currentDownload">Download</th>
        </tr>
      </thead>
    </table>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">Spans</div>
  <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
</div>