<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
      @for(navbarLink of links; track navbarLink.name) {
        <li class="nav-item mr-2" role="presentation">
            <button [class]="navbarLink.selected ? 'nav-link active btn-sm' : 'nav-link btn-sm'" [id]="navbarLink.id" data-bs-toggle="pill" [attr.data-bs-target]="navbarLink.target" type="button" role="tab" [attr.aria-controls]="navbarLink.controls" [attr.aria-selected]="navbarLink.selected" [disabled]="navbarLink.disabled">{{navbarLink.name}}</button>
        </li>
      }
    </ul>
  </div>
</div>
<app-daemon-not-running></app-daemon-not-running>

<div *ngIf="daemonRunning && !stoppingDaemon && syncDisabledByWifiPolicy" class="alert alert-warning d-flex align-items-center justify-content-center text-center" role="alert">
  <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
  <div>
    Sync on wifi is disabled
  </div>
</div>

<div *ngIf="daemonRunning && !stoppingDaemon && syncDisabledByPeriodPolicy" class="alert alert-warning d-flex align-items-center justify-content-center text-center" role="alert">
  <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
  <div>
    Sync disabled from {{ syncDisabledTo }} to {{ syncDisabledFrom }}
  </div>
</div>

<div *ngIf="daemonRunning && !stoppingDaemon && !syncDisabledByPeriodPolicy && !syncDisabledByWifiPolicy && syncDisabled" class="alert alert-warning d-flex align-items-center justify-content-center text-center" role="alert">
  <h4><i class="bi bi-exclamation-triangle m-2"></i></h4>&nbsp;&nbsp;
  <div>
    Sync is disabled
  </div>
</div>

<div *ngIf="daemonRunning && !stoppingDaemon" class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    <div class="row d-flex justify-content-center">

      @for(card of cards; track card.header) {
        @if(card.loading && !stoppingDaemon) {
          <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;" aria-hidden="true">
            <div class="card-header"><strong>{{card.header}}</strong></div>
            <div class="card-body">

              <p class="card-text placeholder-glow">
                <span class="placeholder col-7"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-4"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-8"></span>
              </p>
            </div>
          </div>
        }
        @else if (!stoppingDaemon) {
          <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;">
            <div class="card-header"><strong>{{card.header}}</strong></div>
            <div class="card-body">
              <h5 class="card-title">{{card.content}}</h5>
            </div>
          </div>
        }

      }

    </div>
  </div>
  <div class="tab-pane fade" id="pills-peers" role="tabpanel" aria-labelledby="pills-peers-tab" tabindex="0">
    <div class="m-3">
      <table
      id="peersTable"
      data-toggle="peersTable"
      data-toolbar="#toolbar"
      data-height="460"
      data-pagination="true"
      >
      <thead>
        <tr>
          <th data-field="address">Remote Host</th>
          <th data-field="peerId">Peer ID</th>
          <th data-field="height">Height</th>
          <th data-field="pruningSeed">Prune Seed</th>
          <th data-field="state">State</th>
          <th data-field="currentDownload">Download</th>
        </tr>
      </thead>
    </table>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-spans" role="tabpanel" aria-labelledby="pills-spans-tab" tabindex="0">
    <div class="m-3">
      <table
      id="spansTable"
      data-toggle="spansTable"
      data-toolbar="#toolbar"
      data-height="460"
      data-pagination="true"
      >
      <thead>
        <tr>
          <th data-field="connectionId">Connection ID</th>
          <th data-field="nBlocks">Blocks</th>
          <th data-field="remoteAddress">Remote Address</th>
          <th data-field="size">Size</th>
          <th data-field="speed">Speed</th>
          <th data-field="rate">Rate</th>
          <th data-field="startBlockHeight">Start Block Height</th>
        </tr>
      </thead>
    </table>
    </div>
  </div>
  <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
</div>