<!--
<nav class="navbar navbar-expand-lg d-flex justify-content-center py-3 text-bg-dark">
  &nbsp;&nbsp;  
  <a href="" class="d-flex align-items-center  mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <img class="m-1" src="/assets/icons/monero-symbol-on-white-480.png" width="40" height="40">
        <span class="fs-4"><strong>Monero Daemon</strong></span>
    </a>
    
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      @for(navbarLink of navbarLinks; track navbarLink.name) {
        <li class="nav-item mr-2" role="presentation">
            <button [class]="navbarLink.selected ? 'nav-link active btn-sm' : 'nav-link btn-sm'" [id]="navbarLink.id" data-bs-toggle="pill" [attr.data-bs-target]="navbarLink.target" type="button" role="tab" [attr.aria-controls]="navbarLink.controls" [attr.aria-selected]="navbarLink.selected" [disabled]="navbarLink.disabled">{{navbarLink.name}}</button>
        </li>
      }
      
  
    </ul>
</nav>
-->
<header class="navbar sticky-top bg-dark d-flex flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  <span class="navbar-brand col-md-3 col-lg-3 me-0 px-3 fs-6 text-white" href="#">
    <img class="m-1" src="assets/icons/monero-symbol-on-white-480.png" width="40" height="40">
    <strong>Monero Daemon</strong>
  </span>

  <ul class="navbar-nav flex-row">
    <li *ngIf="!running && !stopping && !starting && !restarting" class="nav-item text-nowrap">
      <button class="btn btn-outline-secondary px-3 text-white" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Start daemon" (click)="startDaemon()">
        <i class="bi bi-play-fill"></i>
      </button>
      &nbsp;
    </li>

    <li *ngIf="running && !stopping && !starting" class="nav-item text-nowrap">
      <button class="btn btn-outline-secondary px-3 text-white" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Stop daemon" (click)="stopDaemon()">
        <i class="bi bi-stop-fill"></i>
      </button>
      &nbsp;
    </li>

    <li *ngIf="running && !stopping && !starting" class="nav-item text-nowrap">
      <button class="btn btn-outline-secondary px-3 text-white" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Restart daemon" (click)="restartDaemon()">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
      &nbsp;
    </li>

    <li class="nav-item text-nowrap">
      <button class="btn btn-outline-secondary px-3 text-white" type="button" data-bs-toggle="offcanvas" aria-label="Quit" [disabled]="stopping || starting" (click)="quit()">
        <i class="bi bi-power"></i>
      </button>
      &nbsp;
      &nbsp;
    </li>
  </ul>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
        <i class="bi bi-search"></i>
      </button>
    </li>
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-list"></i>
      </button>
    </li>
  </ul>

  <div id="navbarSearch" class="navbar-search w-100 collapse">
    <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
  </div>
</header>
