<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mining</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
      @for(navbarLink of navbarLinks; track navbarLink.name) {
        <li class="nav-item mr-2" role="presentation">
            <button [class]="navbarLink.selected ? 'nav-link active btn-sm' : 'nav-link btn-sm'" [id]="navbarLink.id" data-bs-toggle="pill" [attr.data-bs-target]="navbarLink.target" type="button" role="tab" [attr.aria-controls]="navbarLink.controls" [attr.aria-selected]="navbarLink.selected" [disabled]="navbarLink.disabled">{{navbarLink.name}}</button>
        </li>
      }
    </ul>
  </div>
</div>

<div *ngIf="!coreBusy && daemonRunning" class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-miner-data" role="tabpanel" aria-labelledby="pills-miner-data-tab" tabindex="0">
      <div class="row d-flex justify-content-center">
  
        @for(card of cards; track card.header) {
          <div class="card text-bg-dark m-3 text-center" style="max-width: 18rem;">
            <div class="card-header">{{card.header}}</div>
            <div class="card-body">
              <h5 class="card-title">{{card.content}}</h5>
            </div>
          </div>
        }
  
      </div>
    </div>
    <div class="tab-pane fade" id="pills-alternate-chains" role="tabpanel" aria-labelledby="pills-alternate-chains-tab" tabindex="0">
      <div class="m-3">
        <table
        id="chainsTable"
        data-toggle="chainsTable"
        data-toolbar="#toolbar"
        data-height="460"
        >
        <thead>
          <tr>
            <th data-field="blockHash">Block Hash</th>
            <th data-field="height">Height</th>
            <th data-field="length">Length</th>
            <th data-field="mainChainParentBlock">Main Chain Parent Block</th>
            <th data-field="wideDifficulty">Wide Difficulty</th>
          </tr>
        </thead>
      </table>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-block-template" role="tabpanel" aria-labelledby="pills-block-template-tab" tabindex="0">
        <div class="input-group flex-nowrap m-4">
            <span class="input-group-text" id="addon-wrapping">Address</span>
            <input type="text" class="form-control" aria-label="Address" aria-describedby="addon-wrapping">
        </div>
        
        <div class="input-group flex-nowrap m-4">
            <span class="input-group-text" id="addon-wrapping">Reserve Size</span>
            <input type="number" class="form-control" aria-label="Reserve Size" aria-describedby="addon-wrapping">
        </div>

        <div class="input-group m-4">
            <button class="btn btn-primary" type="button" id="getBlockTemplateButton">Get Block Template</button>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...</div>
</div>

<div *ngIf="coreBusy && daemonRunning" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-bg-dark rounded-3 m-4 text-center">

  <main class="px-3">
    <h1><i class="bi bi-exclamation-diamond m-4"></i> Core is busy</h1>
    <p class="lead">Mining capabilities are not available during daemon sync.</p>
    <!--
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  -->
  </main>
<!--
  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">mdo</a>.</p>
  </footer>
-->
</div>

<app-daemon-not-running></app-daemon-not-running>